@import "@/styles/hairline.scss";

page {
  //https://taro-docs.jd.com/taro/docs/component-style.html
  position: relative;
  width: 100%;
  height: 100%;
  color: #181818;
  line-height: 1.5;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}

//隐藏滚动条
::-webkit-scrollbar {
  display: none;
}

// 溢出隐藏 https://github.com/NervJS/taro/issues/5710
@mixin line-hidden($line-clamp: 1) {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  /*! autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
}

@mixin safe-area() {
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

//点击态
@mixin active {
  transition: background-color 0.2s ease-in;

  &:active {
    background-color: #f0f0f0;
  }
}

//重置button样式
button {
  padding: 0;
  margin: 0;
  background-color: transparent;

  &::after {
    border: 0;
  }
}

// 授权按钮
@mixin auth-button {
  position: relative;

  button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
  }
}

//通用的遮罩
@mixin overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba($color: #000, $alpha: 0.5);
}

//元素居中定位
@mixin absolute-center($pos: absolute) {
  position: $pos;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//展示图片占位，便于前期开发
image {
  // background-color: #eee;
  display: block;
}

// 主题色
$theme-color:#ffc600 !default;

// 通用按钮
.common-submit {
  margin: 0 auto;
  width: 680px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: $theme-color;
  border-radius: 6px;
  font-size: 34px;
}

// TODO 两端文字对齐
.justify {
  text-align: justify;

  &::after {
    content: " ";
    display: inline-block;
    width: 100%;
  }
}

// 通用阴影style
.common-style {
  background-color: #fff;
  box-shadow: 0 6px 12px 0 rgba(232, 232, 232, 0.49);
  border-radius: 12px;
}
